.page {
    margin: 20px 0;
}

.btn__page {
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    cursor: pointer;
    transition: 0.5s all;
    margin: 0 5px;
}

.btn__page:hover {
    box-shadow: 3px 3px 20px gray;
    border: 1px solid #d0d0d0;
}

.btn__page-active {
    background: #d0d0d0;
}
