.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
